<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
</head>
<body>
<h2>Add Car</h2>

<form action="#" th:action="@{/add}" th:object="${car}" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" th:field="*{name}">
    <label for="series"></label>
    <input type="text" name="series" id="series" th:field="*{series}">
    <input type="submit" value="Add Car">
</form>
</body>
</html>